In [1]:
import pandas as pd

In [2]:
happiness = pd.read_csv('World_Happiness_2015.csv')
happiness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [3]:
happiness.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
# nunique because 'unique().count' does not work

# happiness.groupby('Region').ngroups #may also be used to return count of groupings
happiness['Country'].nunique(), happiness['Region'].nunique()
# happiness.groupby('Region').get_group('Sub-Saharan Africa')

(158, 10)

In [5]:
# happiness[happiness['Region'] == 'Southern Asia'].plot(x='Country', y='Happiness Score', kind='barh')

In [6]:
# import numpy as np

'''
FutureWarning: The provided callable <function mean at 0x0000020BF1668940> is currently using SeriesGroupBy.mean. 
In a future version of pandas, the provided callable will be used directly. 
To keep current behavior pass the string "mean" instead.

-- .agg([np.mean, np.max]) and .agg('mean', 'max') have similar behavior but the latter is preferred
'''

happiness.groupby('Region')['Happiness Score'].agg('mean', 'max')

Region
Australia and New Zealand          7.285000
Central and Eastern Europe         5.332931
Eastern Asia                       5.626167
Latin America and Caribbean        6.144682
Middle East and Northern Africa    5.406900
North America                      7.273000
Southeastern Asia                  5.317444
Southern Asia                      4.580857
Sub-Saharan Africa                 4.202800
Western Europe                     6.689619
Name: Happiness Score, dtype: float64

In [7]:
happiness.groupby('Region')[['Happiness Score', 'Family']].agg(['min', 'max', 'mean'])

                                Happiness Score                    Family  \
                                            min    max      mean      min
Region
Australia and New Zealand                 7.284  7.286  7.285000  1.30923
Central and Eastern Europe                4.218  6.505  5.332931  0.38562
Eastern Asia                              4.874  6.298  5.626167  0.94675
Latin America and Caribbean               4.518  7.226  6.144682  0.74302
Middle East and Northern Africa           3.006  7.278  5.406900  0.47489
North America                             7.119  7.427  7.273000  1.24711
Southeastern Asia                         3.819  6.798  5.317444  0.62736
Southern Asia                             3.575  5.253  4.580857  0.30285
Sub-Saharan Africa                        2.839  5.477  4.202800  0.00000
Western Europe                            4.857  7.587  6.689619  0.89318


                                     max      mean
Region
Australia and New Zealand        1.31967  1.314450
Central and Eastern Europe       1.34043  1.053042
Eastern Asia                     1.30060  1.099427
Latin America and Caribbean      1.30477  1.104720
Middle East and Northern Africa  1.22393  0.920490
North America                    1.32261  1.284860
Southeastern Asia                1.26504  0.940468
Southern Asia                    1.10395  0.645321
Sub-Saharan Africa               1.18468  0.809085
Western Europe                   1.40223  1.247302

In [8]:
happiness.pivot_table(index='Region', values=['Happiness Score', 'Family'], aggfunc=['min', 'max', 'mean'])

                                     min                      max  \
                                  Family Happiness Score   Family
Region
Australia and New Zealand        1.30923           7.284  1.31967
Central and Eastern Europe       0.38562           4.218  1.34043
Eastern Asia                     0.94675           4.874  1.30060
Latin America and Caribbean      0.74302           4.518  1.30477
Middle East and Northern Africa  0.47489           3.006  1.22393
North America                    1.24711           7.119  1.32261
Southeastern Asia                0.62736           3.819  1.26504
Southern Asia                    0.30285           3.575  1.10395
Sub-Saharan Africa               0.00000           2.839  1.18468
Western Europe                   0.89318           4.857  1.40223

                                                     mean
                                Happiness Score    Family Happiness Score
Region
Australia and New Zealand                 7.286  1.314450        7.285000
Central and Eastern Europe                6.505  1.053042        5.332931
Eastern Asia                              6.298  1.099427        5.626167
Latin America and Caribbean               7.226  1.104720        6.144682
Middle East and Northern Africa           7.278  0.920490        5.406900
North America                             7.427  1.284860        7.273000
Southeastern Asia                         6.798  0.940468        5.317444
Southern Asia                             5.253  0.645321        4.580857
Sub-Saharan Africa                        5.477  0.809085        4.202800
Western Europe                            7.587  1.247302        6.689619